<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- partial('./partials/header') %>
  </head>
  <body>
    <p>Start from /view </p>
    <%- partial('./partials/header') %>
  <%-body %>
  </body>
</html>
